.container{
	display: flex;
	& >  div{
		width: 60%;
	}
	.view{

	}
	.setting{
		.header{

			.cabecera{
				span{
					input{
						text-align: center;
						width: 100%;
					}
					width: 100%;
				}
				justify-content: center;
				display: flex;
	    		text-align: center;
	    		margin: 0 5px;
	    		position: relative;
	    		&:hover{
	    			.remove{
	    				background: red;
			    		color: #FFF;
	    			}
	    		}
			}
			.titulo_principal{
				text-align: center;
				font-size: 2em;
				font-weight: bold;
				background: #F3F3F3;
				border-bottom: solid gray 1px;
				padding: 10px 0px;
			}
			.descrip_cab{
				& > div{
					label{
						width: 35%;
					}
					display: flex;
				}
			}
		}
		.item{
			width: 160px;
    		text-align: center;
    		margin: 0 5px;
    		position: relative;
    		&:hover{
    			.remove{
    				background: red;
		    		color: #FFF;
    			}
    		}
		}
		.footer{
			border: 1px solid #E2E2E2;
		    padding: 20px 30px;
		    margin: 10px 0;
		    font-size: 0.8em;
		}
		
		.remove{
			font-size: 21px;
		    line-height: 1;
		    position: absolute;
		    right: 0;
		    top: 0;
		    padding: 0px 7px;
		    cursor: pointer;
		}
		.plus{
			width: 50px;
		    height: 50px;
		    font-size: 3em;
		    border: 1px solid #DADADA;
		    border-radius: 50%;
		    color: #6F6F6F;
		    cursor: pointer;
		    position: relative;
		    box-shadow: 1px 3px 6px rgba(216, 216, 216, 0.69);
		    margin-top: 19px;

		    i{
		    	position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: TRANSLATE(-50%,-50%);
		    }

		}
	}
}

.box{
	display: flex;
	justify-content: center;
}
.type-one{
	.firma {
	    height: 45px;
	}
	.detalle{
		border-top: 1px solid #909090;
	}
}

ul{
	padding: 0;
	margin: 5px;
}
li{
	list-style: none;
}
embed{
	    width: 100%;
    min-height: 547px;
}