
.log{
    color: white;
    margin: 0;
    font-size: 20px;
    padding: 4px 0;
    padding-bottom: 15px;

}


.header{
    background: #3b5998;
    padding-top: 20px;
}
.header{
    margin-bottom: 0px;
}
.header .btn-header-login{
    margin-bottom: 15px;    
}
